<html>
    <head>
        <title>Learning html/template action</title>
    </head>
    <body>
        <table>
            <tr>
                {{/* example how to use actions */}}
                <td>{{"Name"}}</td>
                <td>: {{ .Name }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                {{$gender := .Gender}}
                <td style="text-transform: capitalize;">:
                    {{$gender}}
                </td>
            </tr>
            <tr>
                <td>Hobbies</td>
                <td>:
                    {{ range $index, $elem := .Hobbies }}
                        {{ $elem }},
                    {{ end }}
                </td>
            </tr>
            <tr>
                <td>Affiliation</td>
                <td>: {{ .Info.Affiliation}} ({{ .Info.GetAffiliationDetailInfo}})</td>
            </tr>
            {{ with .Info }}
            <tr>
                <td>Address</td>
                <td>: {{ .Address }}</td>
            </tr>
            {{ end }}
            {{ if eq .Name "Nubie Nana" }}
            <tr>
                <td>
                    I'm the Hero!
                </td>
            </tr>
            {{ end }}
        </table>
    </body>
</html